[user]
	email = oliver.ingle@gmail.com
	name = oliveringle

[core]
	editor = nvim

[color]
	ui = false

[help]
	autocorrect = 1

[init]
  defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
